# Dependencies
node_modules/
/.pnp
.pnp.*

# Ignore artifacts:
.next/
out/
build/
dist/
db/migrations/meta
coverage

# Package lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Vercel
.vercel/
